#renderer > * {
  position: absolute;
  height: 100%;
}

#renderer > #preview {
  left: 0;
  width: calc(100% - 10.5em - 4px);
  border: 1px dashed #666;
  background: #fafafa;
  background-image: linear-gradient(#fafafa 7px, transparent 0),
    linear-gradient(90deg, #666 1px, transparent 0);
  background-size: 8px 8px;
}
#preview > canvas {
  transform-origin: left top;
}
#preview > #label {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5em;
}
#preview > #label > * {
  display: block;
  font-size: 0.9em;
  line-height: 1em;
  border-left: #000 1em solid;
  padding-left: 0.5em;
}
#preview > #position {
  position: absolute;
  display: none;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap;
  background-color: #ffffff99;
}
#preview:hover > #position {
  display: block;
}

#renderer > #pannel {
  left: calc(100% - 10em - 2px);
  width: 10em;
  border: 1px dashed #666;
  overflow-y: auto;
  background: #fafafa;
}
#renderer > #pannel::-webkit-scrollbar {
  display: none;
}

#pannel > * {
  display: block;
}
#pannel > form {
  text-align: center;
}
#pannel > form input {
  font-size: inherit;
  border: none;
  border-bottom: 1px solid #666;
  margin: 0.2em 0;
  max-width: 9em;
  font-family: inherit;
  background-color: inherit;
}

#pannel > .label {
  margin-top: 0.5em;
  text-align: center;
}

#pannel > #layers {
  padding: 0 0.5em;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #666;
}
#pannel > #layers > * {
  cursor: pointer;
}
#pannel > #layers > * * {
  pointer-events: none;
}
#pannel > #layers > * > span {
  display: inline-block;
  width: 4em;
}
#pannel > #layers > * > svg {
  float: right;
  width: 1.2em;
  height: 1.2em;
  fill: #666;
}
#pannel > #layers > *:hover {
  color: #000;
}
#pannel > #layers > *:hover > svg {
  fill: #000;
}
